h1 {
    color: #c9d0d4;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 46px;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 1px;
    
    /*padding: 1px 1px 20px;*/
}

.busschedule h1 {
    /*border-bottom: double #555;*/
    text-align: : center;
    text-shadow: /*0 -1px 0 #fff, */
    0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 5px 0 #242424, 0 5px 0 #222, 0 4px 0 #202020, 0 10px 21px rgba(0, 0, 0, 0.9);
    padding: 1px 1px 1px;
}

.busschedule2 h1 {
    /*border-bottom: double #555;*/
    text-align: : center;
    text-shadow: /*0 -1px 0 #fff, */
    0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 5px 0 #242424, 0 5px 0 #222, 0 4px 0 #202020, 0 10px 21px rgba(0, 0, 0, 0.9);
    padding: 1px 1px 1px;
}

.eventscript h1 {
    font-size: 54px;
    border-bottom: none;
   text-shadow: /*0 -1px 0 #fff, */
    0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 5px 0 #242424, 0 5px 0 #222, 0 4px 0 #202020, 0 10px 21px rgba(0, 0, 0, 0.9);
padding-bottom:2px;
}

#coming_events {
    text-align: center;
}

#coming_events:before,
#coming_events:after {
    background-color: #555;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 40%;
}

#coming_events:before {
    right: 0.5em;
    margin-left: -50%;
}

#coming_events:after {
    left: 0.5em;
    margin-right: -50%;
}

.time_date_temp {
    
    display: inline-block;
    margin-top:1.8%;
    width:100%;
    height:10em;
    padding-top:5px;
}

.clock {
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.hour,
.min,
.second {
    align-content:center;
    display: inline-block;
    font-family: 'PT Mono',sans-serif;
    font-size: 55px;
    color: #FFF;
    background-color: #333;
    width: auto;
    margin-right: 2px;
    margin-left: 2px;
    padding-left: 1px;
    padding-right: 1px;
     text-shadow: /*0 -1px 0 #fff, */
    0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 5px 0 #242424, 0 5px 0 #222, 0 4px 0 #202020, 0 10px 21px rgba(0, 0, 0, 0.9);
}


#date {
    text-align:right;
    margin-right:2.8%; 
    position:inherit;
    float:right;
    width: 30%;
    letter-spacing: 1px;
    font-size: 52px;
    font-family: 'PT Mono', sans-serif;
    color: #fff;
    text-shadow: 0.5 0.5px;
      text-shadow: /*0 -1px 0 #fff, */
    0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 5px 0 #242424, 0 5px 0 #222, 0 4px 0 #202020, 0 10px 21px rgba(0, 0, 0, 0.2);
}

#temperature {
    margin-left:2.8%;
    position:inherit;
    float:left;
    width: 18%;
    letter-spacing: 1px;
    font-size: 52px;
    font-family: 'PT Mono', sans-serif;
    color: #FFF;
    text-shadow: 0.5 0.5px;
    text-shadow:
    0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 5px 0 #242424, 0 5px 0 #222, 0 4px 0 #202020, 0 10px 21px rgba(0, 0, 0, 0.2);
}

body {
    background-image: url("../pics/footer_lodyas.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 0 0 20px;
    /*background: #333;*/
    overflow:hidden;
}

.busschedule {
    display: inline-block;
    margin: auto;
    float: left;
    margin-top: 0%;
    width: 49.7%;
    padding: 1px;
}

.busschedule2 {
    display: inline-block;
    margin: auto;
    float: right;
    width: 49.7%;
    margin-top: 0%;
    padding: 1px;
}

table {
    position: relative;
    background-color: rgba(241, 241, 243, 0.8);
    /* #f1f2f3;*/
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 40px;
    font-family: arial, sans-serif;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 100%;
}

th {
    background: #333; //linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
    text-align: center;
    font-size: 32px;
}

th:after {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
    height: 25px;
    text-align: center;
    font-size: 30px;
}

.eventTitle {
    /*display:inline-block;*/
    /* Styles the event's title. A wrapper */
    position: relative;
    vertical-align: middle;
    margin-top: -4%;
    overflow:auto;
}

.eventTitle h3 {
    margin-top:0.8em;
    /*font-family: "Arial";*/
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Helvetica Neue', sans-serif;*/
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
}

.eventLocation {
    /*display:inline-block;*/
    /* Styles the events location */
    position: relative;
    /*font-family: "Arial";*/
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Helvetica Neue', sans-serif;*/
    letter-spacing: 1px;
    margin-top: -4%;
    font-size: 25px;
    color: white;
    text-align: center;
    overflow:auto;
}

.eventLocation h2 {
    padding-left: 6px;
    font-weight: 500;
}

.textWrapper {
    display: inline-block;
    text-align: center;
    width:58.9%;
}

.picturehandler > img {
    width: 39%;
    /* Picture styling */
    position: relative;
    max-height: 350px;
    display: block;
    margin-left: 1.8%;
    border: solid 2px;
    float: left;
    margin-bottom: 5px;
}

.eventMeta {
    /* Styles the metadata of an event */
    position: relative;
    margin-top: -1%;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: white;
    /*font-family: "Arial";*/
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Helvetica Neue', sans-serif;*/
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    overflow:inherit;
}

.time {
    /* Styles the time of an event */
    font-size: 40px;
}

.date {
    /* Styles the date of an event */
    font-size: 33px;
    
}



.eventscript {
    /* Styles the events area. A wrapper */  top:-1.5em;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    min-width:99.5%;
    
}

#no_events {
    display:inline-block;
    text-align:center;
    font-size:60px;
    font-weight:500;
    padding-top:5%;
    float:right;
    
}
#aaltoeslogo {
    margin-top:-6em;
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
